In [1]:
import pandas as pd

Prescriber Data  
https://data.cms.gov/Medicare-Part-D/Medicare-Provider-Utilization-and-Payment-Data-201/77gb-8z53  
Physician Compare data  
https://data.medicare.gov/Physician-Compare/Physician-Compare-National-Downloadable-File/mj5m-pzi6

#### read in, select columns, rename columns for Part D Prescriber data and Physician Data

In [3]:
prescriber_df = pd.read_csv('..data/Medicare_Provider_Utilization_and_Payment_Data__2017_Part_D_Prescriber.csv', 
                            usecols=['npi','nppes_provider_last_org_name','nppes_provider_first_name','nppes_provider_city',
                                   'nppes_provider_state','specialty_description','generic_name','bene_count',
                                   'total_claim_count'])
prescriber_df = prescriber_df.rename(columns={'nppes_provider_last_org_name':'last_name','nppes_provider_first_name':'first_name',
                                              'nppes_provider_city':'city','nppes_provider_state': 'state',
                                              'specialty_description':'specialty','generic_name':'drug',})

In [4]:
physician_df = pd.read_csv('..data/Physician_Compare_National_Downloadable_File.csv',
                           usecols=['NPI','Hospital affiliation CCN 1','Hospital affiliation LBN 1','Hospital affiliation CCN 2',
                                   'Hospital affiliation LBN 2','Hospital affiliation CCN 3','Hospital affiliation LBN 3',
                                   'Hospital affiliation CCN 4','Hospital affiliation LBN 4','Hospital affiliation CCN 5',
                                   'Hospital affiliation LBN 5'])
physician_df = physician_df.rename(columns={'NPI': 'npi2','Hospital affiliation CCN 1':'ccn1','Hospital affiliation LBN 1':'lbn2',
                                            'Hospital affiliation CCN 2':'ccn2','Hospital affiliation LBN 2':'lbn2',
                                            'Hospital affiliation CCN 3':'ccn3','Hospital affiliation LBN 3':'lbn3',
                                            'Hospital affiliation CCN 4':'ccn4','Hospital affiliation LBN 4':'lbn4',
                                            'Hospital affiliation CCN 5':'ccn5','Hospital affiliation LBN 5':'lbn5'})

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (29,31,33) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
doc_drugs = pd.merge(prescriber_df,physician_df,left_on='npi',right_on='npi2')
doc_drugs.head(10)

,npi,last_name,first_name,city,state,specialty,drug,bene_count,total_claim_count,npi2,ccn1,lbn2,ccn2,lbn2,ccn3,lbn3,ccn4,lbn4,ccn5,lbn5
0,1245201227,GRUENDEL,JOHN,CARMEL,NY,Cardiology,METOPROLOL SUCCINATE,NaN,31,1245201227,330273.0,PUTNAM HOSPITAL CENTER,330234,WESTCHESTER MEDICAL CENTER,NaN,NaN,NaN,NaN,NaN,NaN
1,1245201227,GRUENDEL,JOHN,CARMEL,NY,Cardiology,MONTELUKAST SODIUM,NaN,11,1245201227,330273.0,PUTNAM HOSPITAL CENTER,330234,WESTCHESTER MEDICAL CENTER,NaN,NaN,NaN,NaN,NaN,NaN
2,1245201227,GRUENDEL,JOHN,CARMEL,NY,Cardiology,DILTIAZEM HCL,24.0,68,1245201227,330273.0,PUTNAM HOSPITAL CENTER,330234,WESTCHESTER MEDICAL CENTER,NaN,NaN,NaN,NaN,NaN,NaN
3,1245201227,GRUENDEL,JOHN,CARMEL,NY,Cardiology,AMOXICILLIN,NaN,12,1245201227,330273.0,PUTNAM HOSPITAL CENTER,330234,WESTCHESTER MEDICAL CENTER,NaN,NaN,NaN,NaN,NaN,NaN
4,1245201227,GRUENDEL,JOHN,CARMEL,NY,Cardiology,ROSUVASTATIN CALCIUM,15.0,39,1245201227,330273.0,PUTNAM HOSPITAL CENTER,330234,WESTCHESTER MEDICAL CENTER,NaN,NaN,NaN,NaN,NaN,NaN
5,1245201227,GRUENDEL,JOHN,CARMEL,NY,Cardiology,IVABRADINE HCL,NaN,12,1245201227,330273.0,PUTNAM HOSPITAL CENTER,330234,WESTCHESTER MEDICAL CENTER,NaN,NaN,NaN,NaN,NaN,NaN
6,1245201227,GRUENDEL,JOHN,CARMEL,NY,Cardiology,FLUDROCORTISONE ACETATE,NaN,16,1245201227,330273.0,PUTNAM HOSPITAL CENTER,330234,WESTCHESTER MEDICAL CENTER,NaN,NaN,NaN,NaN,NaN,NaN
7,1245201227,GRUENDEL,JOHN,CARMEL,NY,Cardiology,SOTALOL HCL,22.0,68,1245201227,330273.0,PUTNAM HOSPITAL CENTER,330234,WESTCHESTER MEDICAL CENTER,NaN,NaN,NaN,NaN,NaN,NaN
8,1245201227,GRUENDEL,JOHN,CARMEL,NY,Cardiology,POTASSIUM CHLORIDE,NaN,22,1245201227,330273.0,PUTNAM HOSPITAL CENTER,330234,WESTCHESTER MEDICAL CENTER,NaN,NaN,NaN,NaN,NaN,NaN
9,1245201227,GRUENDEL,JOHN,CARMEL,NY,Cardiology,QUINAPRIL HCL,NaN,16,1245201227,330273.0,PUTNAM HOSPITAL CENTER,330234,WESTCHESTER MEDICAL CENTER,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
prescriber_df.shape

(25209130, 9)

In [7]:
physician_df.shape

(2177423, 11)

In [9]:
doc_drugs2 = doc_drugs.drop_duplicates()

In [10]:
nd_doc_drugs = doc_drugs2.loc[doc_drugs2.state== 'ND']
nd_doc_drugs.shape

(56600, 20)

In [24]:
#drug_state_counts = doc_drugs2.groupby(['state','drug'])['total_claim_count'].sum().to_frame()

In [25]:
#drug_state_counts.head()

                                  total_claim_count
state drug
AA    AMLODIPINE BESYLATE                        16
      AMOXICILLIN/POTASSIUM CLAV                 17
      ATORVASTATIN CALCIUM                       17
      CIPROFLOXACIN HCL                          26
      FUROSEMIDE                                 23

In [26]:
#drug_state_counts = drug_state_counts.reset_index()
#drug_state_counts.columns = ['state', 'drug', 'total_claims']

In [29]:
drug_state_counts.loc[drug_state_counts.total_claims == drug_state_counts.total_claims.max()]

     state                  drug  total_claims
4195    CA  ATORVASTATIN CALCIUM       4288446

In [30]:
#drug_state_counts.to_csv('..data/csv/drug_state_claim_totals.csv', index = False)

In [31]:
nd_doc_drugs.head()

,npi,last_name,first_name,city,state,specialty,drug,bene_count,total_claim_count,npi2,ccn1,lbn2,ccn2,lbn2,ccn3,lbn3,ccn4,lbn4,ccn5,lbn5
161980,1760589543,BROSSEAU,JAMES,GRAND FORKS,ND,Internal Medicine,METFORMIN HCL,NaN,28,1760589543,350019.0,ALTRU HOSPITAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161983,1760589543,BROSSEAU,JAMES,GRAND FORKS,ND,Internal Medicine,NITROFURANTOIN MACROCRYSTAL,NaN,30,1760589543,350019.0,ALTRU HOSPITAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161986,1760589543,BROSSEAU,JAMES,GRAND FORKS,ND,Internal Medicine,PREGABALIN,NaN,39,1760589543,350019.0,ALTRU HOSPITAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161989,1760589543,BROSSEAU,JAMES,GRAND FORKS,ND,Internal Medicine,PHENYTOIN SODIUM EXTENDED,NaN,12,1760589543,350019.0,ALTRU HOSPITAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161992,1760589543,BROSSEAU,JAMES,GRAND FORKS,ND,Internal Medicine,HYDROXYZINE HCL,NaN,19,1760589543,350019.0,ALTRU HOSPITAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
#nd_totals = nd_doc_drugs.groupby('drug')['total_claim_count'].sum().reset_index()

In [38]:
#nd_totals.sort_values('total_claim_count', ascending = False).head(25)

                          drug  total_claim_count
416       LEVOTHYROXINE SODIUM             112904
56        ATORVASTATIN CALCIUM              95663
322                 FUROSEMIDE              93205
429                 LISINOPRIL              89972
34         AMLODIPINE BESYLATE              83628
536                 OMEPRAZOLE              79610
652                SIMVASTATIN              78985
468       METOPROLOL SUCCINATE              72082
454              METFORMIN HCL              61139
323                 GABAPENTIN              58373
589         POTASSIUM CHLORIDE              57631
435         LOSARTAN POTASSIUM              53267
469        METOPROLOL TARTRATE              52619
754            WARFARIN SODIUM              50546
646             SERTRALINE HCL              48515
345        HYDROCHLOROTHIAZIDE              45605
686             TAMSULOSIN HCL              34696
347  HYDROCODONE/ACETAMINOPHEN              33191
161      CLOPIDOGREL BISULFATE              32985
551        PANTOPRAZOLE SODIUM              30885
722               TRAMADOL HCL              30428
598                 PREDNISONE              29985
122                 CARVEDILOL              26422
400                LATANOPROST              25394
635       ROSUVASTATIN CALCIUM              24701

In [39]:
#nd_doc_drugs.to_csv('..data/csv/nd_doc_drugs.csv', index = False)

In [40]:
list_of_all_antipsychs = ['chlorpromazine', 'droperidol', 'fluphenazine', 
                          'haloperidol', 'loxapine', 'perphenazine',
                          'pimozide', 'prochlorperazine', 'trifluoperazine', 
                          'amoxapine', 'aripiprazole', 'asenapine',
                          'brexpiprazole', 'cariprazine', 'clozapine', 
                          'lurasidone', 'olanzapine', 'paliperidone',
                          'quetiapine', 'risperidone', 'ziprasidone']

In [53]:
list_of_all_antipsychs = [drug.upper() for drug in list_of_all_antipsychs]

In [41]:
doc_drugs2.head(2)

,npi,last_name,first_name,city,state,specialty,drug,bene_count,total_claim_count,npi2,ccn1,lbn2,ccn2,lbn2,ccn3,lbn3,ccn4,lbn4,ccn5,lbn5
0,1245201227,GRUENDEL,JOHN,CARMEL,NY,Cardiology,METOPROLOL SUCCINATE,NaN,31,1245201227,330273.0,PUTNAM HOSPITAL CENTER,330234,WESTCHESTER MEDICAL CENTER,NaN,NaN,NaN,NaN,NaN,NaN
1,1245201227,GRUENDEL,JOHN,CARMEL,NY,Cardiology,MONTELUKAST SODIUM,NaN,11,1245201227,330273.0,PUTNAM HOSPITAL CENTER,330234,WESTCHESTER MEDICAL CENTER,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
antipsych_sched_d = doc_drugs2.query('drug in @list_of_all_antipsychs')

In [55]:
antipsych_sched_d.head(2)

,npi,last_name,first_name,city,state,specialty,drug,bene_count,total_claim_count,npi2,ccn1,lbn2,ccn2,lbn2,ccn3,lbn3,ccn4,lbn4,ccn5,lbn5
444,1427075894,CHOUNZOM,TENZING,MONTEAGLE,TN,Internal Medicine,RISPERIDONE,NaN,25,1427075894,440058.0,SOUTHERN TENNESSEE REGIONAL HLTH SYSTEM WINCHE...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
446,1427075894,CHOUNZOM,TENZING,MONTEAGLE,TN,Internal Medicine,OLANZAPINE,NaN,68,1427075894,440058.0,SOUTHERN TENNESSEE REGIONAL HLTH SYSTEM WINCHE...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
antipsych_sched_d.shape

(195892, 20)

In [58]:
antipsych_sched_d.to_csv('data/csv/antipsych_prescriptions.csv', index = False)