In [2]:
import pandas as pd

In [3]:
benef_claims_by_state = pd.read_csv('../../data/archive/Medicare_Provider_Utilization_and_Payment_Data__2017_Part_D_Prescriber.csv',
                                             usecols=['npi','nppes_provider_state','bene_count_ge65','total_claim_count_ge65'])
benef_claims_by_state = benef_claims_by_state.rename(columns={'nppes_provider_state': 'state'})

In [4]:
benef_claims_by_state.head()

          npi state  bene_count_ge65  total_claim_count_ge65
0  1245201227    NY              NaN                    31.0
1  1649591223    OR              NaN                    24.0
2  1548398597    MI              NaN                     NaN
3  1780674101    AR              NaN                     NaN
4  1861502288    CA              NaN                     NaN

In [6]:
benef_claims_by_state = benef_claims_by_state.groupby(['state'])['bene_count_ge65'].sum().to_frame()

In [9]:
benef_claims_by_state.to_csv('../../data/csv_for_visualization/total_benef_by_state_Over65.csv')

In [7]:
benef_claims_by_state.head(60)

       bene_count_ge65
state
AA                96.0
AE               913.0
AK             17697.0
AL           2050453.0
AP               921.0
AR            982884.0
AS                 0.0
AZ           1428478.0
CA           7609399.0
CO            694735.0
CT            720755.0
DC             77639.0
DE            200737.0
FL           7405965.0
GA           2740607.0
GU              1891.0
HI            254182.0
IA            584317.0
ID            227439.0
IL           2353437.0
IN           1668254.0
KS            532697.0
KY           1676387.0
LA           1440429.0
MA           1420484.0
MD            813723.0
ME            227025.0
MI           2499256.0
MN            783338.0
MO           1733308.0
MP               505.0
MS           1090900.0
MT            129512.0
NC           2576499.0
ND            121502.0
NE            307108.0
NH            177192.0
NJ           1874392.0
NM            343473.0
NV            576685.0
NY           4629718.0
OH           3049132.0
OK            841607.0
OR            609764.0
PA           3175711.0
PR           2180710.0
RI            226224.0
SC           1430218.0
SD            140093.0
TN           2263524.0
TX           5781663.0
UT            304253.0
VA           1453489.0
VI             12488.0
VT             74754.0
WA            911451.0
WI            959622.0
WV            609240.0
WY             47127.0
XX              1284.0